html {
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
}

body {
  height: 95%;
  width: 100%;
  font-family: Nunito;
  background-color: #252525;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: #CCCCCC;
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

input {
  text-align: center;
}

.filter {
  margin: 10px 10px 10px 10px;
}

.msginput{
  margin: 10px 10px 10px 10px;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
  font-family: Nunito;
  color: black;
  margin: 10px 500px 10px 500px;
  overflow-wrap: break-word;
}



.messages-container{
  width: auto;
}

.indvmess {
  border: 5px solid #2AABE2;
  padding: 10px 10px 10px 10px;
}

.time {
  font-weight: bold;
  font-size: 12px;
  color:#252525;
}